
div#app{
  width: 70%;
  margin: 0 6em;
  /* background-color: blueviolet; */
}

h1{
  text-align: center;
}
img{
  float: left;
}
figure{
  /* background-color: blue; */
  
}
figcaption{
  padding-top: 5em;
  text-align: center;
}
h2{
  clear: both;
  margin-left: 3em;
  text-transform: uppercase;
}
table{
  width: 100%; 
  /* background-color: aqua; */
}
table.experiences ul{
list-style: none;
}

td{
  width: 50%;
  text-align: center;
  /* border: 1.5px solid black; */
}
ul{
  /* list-style: none; */
}