body{
  /* background-color: brown; */
}
div#app{
  width: 70%;
  margin: 0 6em;
  background-color: blueviolet;
}

h1{
  text-align: center;
}
img{
  float: left;
}
figure{
  background-color: blue;
}
figcaption{
  padding-top: 5em;
  text-align: center;
}
h2{
  clear: both;
  margin-top: 6em;
  margin-left: 2em;
}
table{
  width: 100%; 
  background-color: aqua;
}

td{
  width: 50%;
  text-align: center;
  /* border: 1.5px solid black; */
}
ul{
  list-style: none;
}