
div#app{
  width: 70%;
  margin: 0 6em;
  
}

h1{
  text-align: center;
}
img{
  float: left;
}

figcaption{
  padding-top: 5em;
  text-align: center;
}
h2{
  clear: both;
  margin-left: 3em;
  text-transform: uppercase;
}
table{
  width: 100%; 

}
table.experiences ul{
list-style: none;
text-align: left;
}


td{
  width: 50%;
  text-align: center;
 
}
ul{
  margin-left: 5em;

}